/* ---- Navbar ---- */

.navbar {
    /* background-color: rgb(221, 221, 221); */
    position: fixed;
    display: flex;
    padding: 10px 25px;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    gap: 15px;
}

.nav-link {
    all: unset;
    color: gray;
    cursor: pointer;
}

.nav-link:hover {
    color: rgb(83, 83, 83);
}

/* ---- Sidebar ---- */

.sidebar {
    display: flex;
    flex-flow: column;
    position: fixed;
    right: 0;
    top: 50%;
    padding: 25px 15px;
    gap: 15px;
    background-color: rgb(245, 221, 79);
    font-size: 24px;
}

/* ---- Container ---- */

.container {
    max-width: 1000px;
}